# DATABASE CONFIGURATION (Neon PostgreSQL)
ConnectionStrings__DefaultConnection="Host=ep-your-database-pooler.onrender.com;Database=neondb;Username=neondb_owner;Password=yourpassword;SSL Mode=Require;Trust Server Certificate=true;"

# GROQ LLM API KEY
OpenAI__ApiKey="gsk_your_groq_api_key_goes_here"

# JWT TOKEN AUTHENTICATION SECRET (Min 32 characters long)
Auth__JwtSecret="your-jwt-secret-min-32-characters-long"
